
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~jquery-ui/themes/base/all.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.progress {
  height: 2.3rem;
  font-size: 1.3rem;
}

.datepicker {
  cursor: pointer !important;
  background: white !important;

}

label {
  margin-bottom: 0;
}

#perion-from, #perion-to {
  display: inline-block;
}

.card-body, .card-header {
  padding-left: 5px;
  padding-right: 5px;
}

.transactions {
  padding-left: 0;
  padding-right: 0;

}

.transactions table th, .transactions table td {
  padding-left: 5px;
  padding-right: 5px;

}

.progress-sum:hover {
  box-sizing: border-box;
  cursor: pointer;
}

.del-transaction {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  opacity: 1;
}